<?xml version="1.0" encoding="UTF-8"?>
<suite name="Test Suite" verbose="1">
    <listeners>
        <!-- Tạo báo cáo XML -->
        <listener class-name="org.testng.reporters.XMLReporter" />
        <!-- Tạo báo cáo HTML -->
        <!-- Tạo báo cáo HTML -->

        <listener class-name="org.testng.reporters.EmailableReporter2" />
    </listeners>
    <test name="Test">
        <classes>
            <class name="Callcenter" />
        </classes>
    </test>

    <test name="Test1">
        <classes>
            <class name="LoginCallcenter" />
        </classes>
    </test>

</suite>
