<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="RSA Ecom CI Suite" verbose="1" parallel="none">

    <listeners>
        <listener class-name="listeners.TestListener"/>
    </listeners>

    <test name="CI Tests">
        <classes>
            <class name="testcases.CreatePMHCI"/>
            <class name="testcases.VoucherCI"/>
            <class name="testcases.VoucherUAT"/>
            <class name="testcases.PromotionCI"/>
            <class name="testcases.PromotionUAT"/>
        </classes>
    </test>

</suite>
